<div class="container-fluid animated fadeIn">
  <div class="col-12">
    <div class="row justify-content-center">

      <h1 class="title">Editando Pet - {{editPet.nm_animal}} </h1>

    </div>
  </div>
  <mat-card>

    <form>

      <div class="row">
        <div class="col-12">
          <mat-form-field>
            <input [(ngModel)]="editPet.nm_animal" name="nm_animal" matInput placeholder="Nome" required>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <mat-form-field>
            <mat-select [(ngModel)]="editPet.nm_sexo_animal" name="nm_sexo_animal" placeholder="Sexo" required>
              <mat-option *ngFor="let sexos of sexo" [value]="sexos.value">
                {{ sexos.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field>
            <mat-select [(ngModel)]="editPet.nm_especie_animal" name="cd_especie_fk" placeholder="Espécie" required>
              <mat-option *ngFor="let especies of especie" [value]="especies.id">
                {{ especies.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <mat-form-field>
            <mat-select [(ngModel)]="editPet.nm_raca_animal" name="cd_raca_fk" placeholder="Raça" required>
              <mat-option *ngFor="let racas of raca" [value]="racas.id">
                {{ racas.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field>
            <input [(ngModel)]="editPet.cd_idade_animal" name="cd_idade_animal" matInput placeholder="Idade" required>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <mat-form-field>
            <input [(ngModel)]="editPet.nm_tamanho_animal" name="nm_tamanho_animal" matInput placeholder="Tamanho" required>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field>
            <input [(ngModel)]="editPet.nm_cor_animal" name="nm_cor_animal" matInput placeholder="Cor" required>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="checkbox-align">
            <mat-checkbox [(ngModel)]="editPet.ic_deficiencia_animal" name="ic_deficiencia_animal" color="primary">Deficiência</mat-checkbox>
          </div>
        </div>
        <div class="col-6" *ngIf="!!editPet.ic_deficiencia_animal">
          <mat-form-field>
            <input [(ngModel)]="editPet.ds_deficiencia_animal" name="ds_deficiencia_animal" matInput placeholder="Qual?">
          </mat-form-field>
        </div>
      </div>

      <div class="col-12">
        <div class="row justify-content-center">
          <h2 class="sub-title">Foto do Pet</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-6 button-row" align="center">
          <button mat-raised-button class="content-center" type="button" color="primary" class="w-75" (click)="fileInput.click()">Upload</button>
          <input hidden type="file" #fileInput />
        </div>
        <div class="col-6 button-row" align="center">
            <button mat-raised-button class="content-center" type="button" color="primary" class="w-75" (click)="imgFileInput.click()">Tirar uma Foto</button>
            <input hidden type="file" accept="image/*" capture="camera" #imgFileInput />
        </div>
      </div>

      <div class="col-12">
        <div class="button-submit-row row justify-content-center">
          <button mat-raised-button type="submit" color="primary" class="w-50" (click)="updatePet('/update')">Confirmar</button>
        </div>
      </div>

    </form>

  </mat-card>
</div>
