<!--
  <p>
    {{pet?.payload.nm_animal}} - {{pet?.payload.Raca.nm_raca}} - {{pet?.payload.nm_sexo_animal}} -
    {{pet?.payload.nm_cor_animal}}
    - {{pet?.payload.nm_tamanho_animal}} - {{pet?.payload.Usuario.nm_endereco_usuario}} -
    {{pet?.payload.Usuario.cd_numero_endereco_usuario}}
    - {{pet?.payload.Usuario.nm_cidade_usuario}} - {{pet?.payload.Usuario.nm_estado_usuario}} -
    {{pet?.payload.Usuario.nm_cidade_usuario}}
    - {{pet?.payload.createdAt}} -
  </p>
-->
<div class="container">
  <mat-card>
    <div class="pure-g">
      <div class="img-rounded-area">
        <div class="img-rounded" [ngStyle]="{
            'background-image': 'url(' + pet?.payload.ds_foto_animal + ') '
          }"></div>
        <div class="row-center">
          <button *ngIf="!petFavorited" (click)="favorite()" color="primary" mat-mini-fab>
            <mat-icon>favorite</mat-icon>
          </button>
          <button *ngIf="petFavorited" (click)="unFavorite()" color="primary" mat-mini-fab>
            <mat-icon>favorite_border</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-card>
</div>