<div id="home" class="container-fluid animated fadeIn">
  <div class="col-md-12">
    <div class="row justify-content-center">

      <h1 class="title">Pets Favoritos</h1>


    </div>
  </div>
  <mat-card *ngFor="let favoritePet of listOfFavoritePets2" routerLink="/pet-info" [queryParams] ="{id: favoritePet.id}">
    <div class="row">
      <div class="col-md-2">
        <img src="../../assets/images/ft-pet.jpg" alt="" class="img-animals">
      </div>
      <div class="col-md-2 card-content">
        <ul>
          <li class="font-bold">{{favoritePet.title}}</li>
          <li>{{favoritePet.breed}}</li>
          <li>{{favoritePet.city}} - {{favoritePet.state}}</li>
          <li>{{favoritePet.street}}</li>
        </ul>
      </div>
      <label class="content-date">{{favoritePet.date}}</label>
      <div class="heart">
        <i class="fas fa-heart"></i>
      </div>
    </div>
  </mat-card>
</div>
