<div id="home" class="container-fluid animated fadeIn">
  <div class="col-md-12">
    <div class="row justify-content-center">

      <h1 class="title">Pets Favoritos</h1>


    </div>
  </div>
  <mat-card *ngFor="let favoritePet of pets" routerLink="/pet-info" [queryParams] ="{id: favoritePet.id, fav: true}">
    <div class="row">
      <div class="col-md-2">
        <div class="img-square" [ngStyle]="{ 'background-image': 'url(' + favoritePet.Animal.ds_foto_animal + ') '}"></div>
      </div>
      <div class="col-md-2 card-content">
        <ul>
          <li class="font-bold">{{favoritePet.Animal.nm_animal}}</li>
          <li>{{favoritePet.Animal.nm_raca}}</li>
          <!-- <li>{{pets.cd_idade_animal}} ano(s)</li> -->
          <li>{{favoritePet.Animal.nm_cor_animal}}</li>
          <li>{{favoritePet.address1}}</li>
          <li>{{favoritePet.address2}}</li>
        </ul>
      </div>
      <!-- <label class="content-date">{{pet.date}}</label> -->
      <!-- <div class="heart">
        <i class="fas fa-heart"></i>
      </div> -->
    </div>
  </mat-card>
</div>
