<div class="pure-g">

  <div class="pure-u-1">
    <div class="row-center">
      <h3 class="title">Deseja realmente deletar?</h3>
    </div>
  </div>

  <div class="pure-u-1">
    <div class="row-center">
      <button mat-raised-button color="primary" class="w-50" (click)="deletePet()">Deletar</button>
    </div>
  </div>
  <div class="pure-u-1">
    <div class="row-center">
      <button (click)="cancel()" mat-raised-button type="submit" color="primary" class="w-50">Cancelar</button>
    </div>
  </div>
  
</div>