<!-- Foto redonda -->

<mat-card *ngFor="let pet of pets.payload">
  
  <mat-grid-list cols="2" rowHeight="120">
    <mat-grid-tile cols="1">
      
    </mat-grid-tile>

    <mat-grid-tile cols="1">
      <mat-list>

        <mat-list-item>
          <mat-icon matListIcon></mat-icon>
          <h3 mat-line class="font-bold">{{pet.nm_animal}}</h3>
        </mat-list-item>

        <mat-list-item>
          <mat-icon matListIcon>calendar_today</mat-icon>
          <h3 mat-line class="font-bold">{{pet.cd_idade_animal}}</h3>
        </mat-list-item>

        <mat-list-item>
          <mat-icon matListIcon>location_on</mat-icon>
          <h3 mat-line class="font-bold">{{pet.nm_cidade_animal}} - {{pet.nm_estado_animal}}</h3>
        </mat-list-item>

      </mat-list>
    </mat-grid-tile>
  </mat-grid-list>

</mat-card>