/* You can add global styles to this file, and also import other style files*/

@import './assets/custom-theme.css';
html,
body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  background: #f2f2f2;
  font-size: 14px;
}

.page-content {
  margin: 1em;
}

.nav-space {
  flex: 1 1 auto;
}

.img-center {
  margin: auto;
  padding: auto;
}

.container-fluid {
  padding-top: 70px;
  margin-bottom: 70px;
}

.mat-card {
  padding: 20px !important;
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.title {
  text-align: center;
  font-size: 18px;
  padding-bottom: 20px;
  margin: 0px;
}

.sub-title {
  text-align: center;
  font-size: 16px;
  padding: 10px;
  margin: 0px;
}

.no-padding {
  padding: 0px !important;
}

.font-bold {
  font-weight: bold;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.mat-button.cdk-focused.cdk-touch-focused {
  color: #755DCA;
}

.col-12 .mat-form-field {
  min-width: 100%;
}

.mat-form-field {
  max-width: 100%;
}

.mat-form-field .mat-icon {
  color: #333333;
}

.button-row {
  padding: 10px 0px;
}

.button-submit-row {
  padding-top: 30px;
}

.w-25 {
  min-width: 25% !important;
}

.w-50 {
  min-width: 50% !important;
}

.w-75 {
  min-width: 75% !important;
}

.w-100 {
  min-width: 100% !important;
}

.card-content ul li{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
