<mat-card *ngFor="let user of users.payload" routerLink="/user-info" [queryParams]="{id: user.id}">

  <div class="pure-g">
    <div class="pure-u-1-4">
      <div class="user-image-area">
        <div class="user-image" [ngStyle]="{ 'background-image': 'url(' + user.ds_foto_usuario + ') '}"></div>
      </div>
    </div>

    <div class="pure-u-3-4">
      <mat-list>

        <mat-list-item>
          <mat-icon matListIcon>person</mat-icon>
          <h3 mat-line class="">{{user.nm_razao_social_usuario}}</h3>
        </mat-list-item>

        <mat-list-item>
          <mat-icon matListIcon>location_on</mat-icon>
          <h3 mat-line class="">{{user.nm_cidade_usuario}} - {{user.nm_estado_usuario}}</h3>
        </mat-list-item>

        <mat-list-item>
          <mat-icon matListIcon>phone</mat-icon>
          <h3 mat-line class="">{{user.cd_telefone_usuario}}</h3>
        </mat-list-item>

      </mat-list>
    </div>
  </div>

</mat-card>