@import "custom-theme.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.container {
  padding: 55px 5px 55px 5px;
}
.row {
  display: flex;
  flex-direction: row;
}
.row-center {
  display: flex !important;
  justify-content: center !important;
  padding: 5px 0px;
}
.button-submit-row {
  padding-top: 15px;
}
.w-50 {
  width: 50%;
}
.w-90 {
  width: 90%;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.font-bold {
  font-weight: bold !important;
}
.title {
  text-align: center;
  font-size: 16px;
  padding-bottom: 20px;
  margin: 0px;
}

mat-form-field {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.form-control {
  padding: 0 5px;
}

mat-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 1px 1px rgba(0, 0, 0, 0.08) !important;
  border-radius: 5px !important;
  margin: 10px 0px;
  padding: 10px !important;
}

mat-list{
  padding: 0px !important;
}

.mat-raised-button {
  border-radius: 20px !important;
  background: linear-gradient(60deg, #6b52c7, #8c78d3);
}

.mat-list .mat-list-item .mat-list-item-content {
  padding: 0px !important;
}

.mat-expansion-panel-body {
  padding: 0px !important;
}

#sidenav-menu .mat-list-item-content {
  color: #f2f2f2 !important;
}

#sidenav-menu  .mat-list-item-content {
  padding: 0 30px 0 15px  !important;
}
