.mat-button-toggle-group {
  box-shadow: none;
}
.mat-button-toggle {
  color: #333333;
  border: 1px solid #ffffff;
  height: 100%;
  width: 100%;
}

.mat-button-toggle-checked {
  border: 1px solid #755dca;
  color: #ffffff;
  background: #755dca;
}

.row-filter {
  padding-top: 10px;
}

.col-md-12 {
  padding: 0px;
}

h6 {
  font-size: 14px;
  font-weight: 600;
  margin: 0px;
  vertical-align: middle;
  color: #755dca;
  padding: 0px 0px 15px 0px !important;
}

.mat-card.no-padding{
    padding: 0px !important;
}

.card-content{
    position: absolute;
    left: 50%;
    padding: 10px 10px;
    width: 50%;
}

.card-content  li{
    padding: 5px 0px;
}

.card-content ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.img-animals{
    width: 50%;
    height: 100%;
}

.content-date{
    position: absolute;
    left: 53%;
    top: 87%;
}

.img-square {
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 150px;
  }
