<div class="container-fluid animated fadeIn">

  <div class="col-md-12">
    <div class="row justify-content-center">
      <h1 class="title">Cadastrar Usuário Pessoa Física</h1>
    </div>
  </div>

  <mat-card>
    <form id="add-pfisica" name="add-pfisica">

      <div class="row justify-content-center">
        <div class="col-12">
          <mat-form-field>
            <input [(ngModel)]="pfisica.nome" name="nome" type="text" matInput placeholder="Nome" required>
            <mat-error *ngIf="nome.invalid">{{getNomeErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field>
            <input [(ngModel)]="pfisica.email" name="email" type="email" matInput placeholder="Email" required>
            <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field>
            <input [(ngModel)]="pfisica.cpf" [textMask]="{mask: cpfMask}" name="cpf" minlength="11" type="text" matInput placeholder="CPF" required>
            <mat-error *ngIf="cpf.invalid">{{getCpfErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field>
            <mat-select [(ngModel)]="pfisica.sexo" name="sexo" placeholder="Sexo" required>
              <mat-option *ngFor="let sexos of sexoArray" [value]="sexos.value">
                {{ sexos.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="sexo.invalid">{{getSexoErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field>
            <input [(ngModel)]="pfisica.telefone" [textMask]="{mask: celMask}" name="telefone" type="text" matInput placeholder="Celular"
              required>
              <mat-error *ngIf="telefone.invalid">{{getTelefoneErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field>
            <input [(ngModel)]="pfisica.cep" [textMask]="{mask: cepMask}" name="cep" minlength="8" type="text" matInput placeholder="CEP" required>
            <mat-error *ngIf="cep.invalid">{{getCepErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field>
            <input [(ngModel)]="pfisica.estado" [matAutocomplete]="autoStates" name="estado" type="text" matInput placeholder="Estado" (keyup)="fillFiltredStates()" required>
            <mat-autocomplete #autoStates="matAutocomplete">
              <mat-option *ngFor="let option of filtredStates" [value]="option">
                {{ option }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="estado.invalid">{{getEstadoErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field>
            <input [(ngModel)]="pfisica.cidade" name="cidade" [matAutocomplete]="autoCities" type="text" matInput placeholder="Cidade"  (keyup)="fillFiltredCities()" required>
            <mat-autocomplete #autoCities="matAutocomplete">
              <mat-option *ngFor="let option of filtredCities" [value]="option">
                {{ option }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="cidade.invalid">{{getCidadeErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field>
            <input [(ngModel)]="pfisica.endereco" name="endereco" type="text" matInput placeholder="Endereço" required>
            <mat-error *ngIf="endereco.invalid">{{getEnderecoErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-4">
          <mat-form-field>
            <input [(ngModel)]="pfisica.numero" [textMask]="{mask: numMask}" name="numero" type="text" matInput placeholder="Número"
              required>
              <mat-error *ngIf="numero.invalid">{{getNumeroErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-8">
          <mat-form-field>
            <input [(ngModel)]="pfisica.complemento" name="complemento" type="text" matInput placeholder="Complemento">
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field>
            <input [(ngModel)]="senha" name="senha" type="password" matInput placeholder="Senha" required>
            <mat-error *ngIf="senha.invalid">{{getSenhaErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="button-row row justify-content-center">
        <div class="col-6">
          <button mat-raised-button type="submit" color="primary" form="add-pfisica" class="w-100" (click)="registerPf()">Confirmar</button>
        </div>
        <div class="col-6">
          <button mat-raised-button color="primary" class="w-100" (click)="goTo('login')">Cancelar</button>
        </div>
      </div>

    </form>
  </mat-card>
</div>
