<section *ngIf="">
  <!-- Física -->
  <div class="pure-g">
    <div class="pure-u-1">
      <h1 *ngIf="isAdding" class="title">Cadastrar Usuário</h1>
      <h1 *ngIf="!isAdding" class="title">Editar Usuário</h1>
    </div>
  </div>

  <mat-card>
    <div class="pure-g">
      <form [formGroup]="userForm">

        <div class="pure-u-1">
          <button mat-fab color="primary" (click)='imgFileInput.click()'>
            <mat-icon aria-label="Tirar Foto">add_a_photo</mat-icon>
            <input hidden type="file" accept="image/*" id="imgupload" capture="camera" #imgFileInput />
          </button>
        </div>

        <div class="pure-u-1">
            <mat-form-field>
              <input matInput type="text" name="nome" formControlName="nm_usuario" placeholder="Nome" required />
            </mat-form-field>
          </div>

        <div class="pure-u-1">
          <mat-form-field>
            <input matInput type="text" name="email" formControlName="nm_email_usuario" placeholder="Email" required />
          </mat-form-field>
        </div>

        <div class="pure-u-1-2">
          <mat-form-field>
            <input matInput type="text" name="cpf" formControlName="cd_cpf_usuario" placeholder="CPF" required />
          </mat-form-field>
        </div>

        <div class="pure-u-1-2">
          <mat-form-field>
            <input matInput type="text" name="nascimento" formControlName="dt_nascimento_usuario" placeholder="Nome" required />
          </mat-form-field>
        </div>

        <div class="pure-u-1-2">
          <mat-form-field>
            <input matInput type="text" name="sexo" formControlName="nm_sexo_usuario" placeholder="Nome" required />
          </mat-form-field>
        </div>

        <div class="pure-u-1-2">
          <mat-form-field>
            <input matInput type="text" name="telefone" formControlName="cd_telefone_usuario" placeholder="Telefone" required />
          </mat-form-field>
        </div>
        
        <div class="pure-u-1-2">
          <mat-form-field>
            <input matInput type="text" name="telefone" formControlName="cd_telefone_usuario" placeholder="Telefone" required />
          </mat-form-field>
        </div>

      </form>
    </div>
  </mat-card>
</section>

<section *ngIf="">
  <!-- Jurídica -->
  <div class="pure-g">
    <div class="pure-u-1">
      <h1 *ngIf="isAdding" class="title">Cadastrar Usuário</h1>
      <h1 *ngIf="!isAdding" class="title">Editar Usuário</h1>
    </div>
  </div>

  <mat-card>
    <div class="pure-g">
      <div class="pure-u-1">
        <button mat-fab color="primary" (click)='imgFileInput.click()'>
          <mat-icon aria-label="Tirar Foto">add_a_photo</mat-icon>
          <input hidden type="file" accept="image/*" id="imgupload" capture="camera" #imgFileInput />
        </button>
      </div>
    </div>
  </mat-card>
</section>