<div class="container">
  <!-- Fisica -->
  <section *ngIf="userType === 'pf'">
    <div class="pure-g">
      <div class="pure-u-1">
        <h1 *ngIf="isAdding" class="title">Cadastrar Usuário</h1>
        <h1 *ngIf="!isAdding" class="title">Editar Usuário</h1>
      </div>
    </div>

    <mat-card>
      <div class="pure-g">
        <form [formGroup]="userFormPhysical">
          <div class="img-rounded-area">
            <img (click)="imgFileInput.click()" id="img" class="img-rounded" [src]="fotobase64" alt="Foto do Usuário" />
            <input hidden type="file" accept="image/*" id="imgupload" capture="camera" #imgFileInput (change)="readURL()" />
          </div>

          <div class="pure-u-1">
            <div class="form-control">
              <mat-form-field>
                <input matInput [(ngModel)]="user.nm_usuario" formControlName="nm_usuario" type="text" name="nome"
                  placeholder="Nome" required />
              </mat-form-field>
            </div>
          </div>

          <div class="pure-u-1">
            <div class="form-control">
              <mat-form-field>
                <input matInput [(ngModel)]="user.nm_email_usuario" formControlName="nm_email_usuario" type="email"
                  name="email" placeholder="Email" required />
              </mat-form-field>
            </div>
          </div>

          <div class="pure-u-1-2">
            <div class="form-control">
              <mat-form-field>
                <input matInput [textMask]="{ mask: cpfMask }" [(ngModel)]="user.cd_cpf_usuario" formControlName="cd_cpf_usuario"
                  type="text" name="cpf" placeholder="CPF" required />
              </mat-form-field>
            </div>
          </div>

          <div class="pure-u-1-2">
            <div class="form-control">
              <mat-form-field>
                <mat-select name="sexo" [(ngModel)]="user.nm_sexo_usuario" formControlName="nm_sexo_usuario"
                  placeholder="Sexo" required>
                  <mat-option *ngFor="let gender of genderArray" [value]="gender.value">
                    {{ gender.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="pure-u-1">
            <div class="form-control">
              <mat-form-field>
                <input matInput [(ngModel)]="user.dt_nascimento_usuario" formControlName="dt_nascimento_usuario" name="dtNascimento"
                  [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Data de Nascimento" disabled />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker disabled="false"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>

          <div class="pure-u-1-2">
            <div class="form-control">
              <mat-form-field>
                <input matInput [textMask]="{ mask: celMask }" [(ngModel)]="user.cd_telefone_usuario" formControlName="cd_telefone_usuario"
                  type="text" name="telefone" placeholder="Telefone" required />
              </mat-form-field>
            </div>
          </div>

          <div class="pure-u-1-2">
            <div class="form-control">
              <mat-form-field>
                <input matInput [textMask]="{ mask: cepMask }" [(ngModel)]="user.cd_cep_usuario" formControlName="cd_cep_usuario"
                  type="text" name="cep" placeholder="CEP" required />
              </mat-form-field>
            </div>
          </div>

          <div class="pure-u-1-2">
            <div class="form-control">
              <mat-form-field>
                <input matInput [(ngModel)]="user.nm_estado_usuario" formControlName="nm_estado_usuario" id="estado"
                  [matAutocomplete]="autoStates" name="estado" type="text" placeholder="Estado" (click)="emptyInput()"
                  (blur)="blurInStates()" (keyup)="fillFiltredStates()" required />
                <mat-autocomplete #autoStates="matAutocomplete">
                  <mat-option *ngFor="let option of filtredStates" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>

          <div class="pure-u-1-2">
            <div class="form-control">
              <mat-form-field>
                <input matInput [(ngModel)]="user.nm_cidade_usuario" formControlName="nm_cidade_usuario" id="cidade"
                  name="cidade" [matAutocomplete]="autoCities" type="text" placeholder="Cidade" (click)="blurInStates()"
                  (keyup)="fillFiltredCities()" required />
                <mat-autocomplete #autoCities="matAutocomplete">
                  <mat-option *ngFor="let option of filtredCities" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>

          <div class="pure-u-1-2">
            <div class="form-control">
              <mat-form-field>
                <input matInput [(ngModel)]="user.nm_endereco_usuario" formControlName="nm_endereco_usuario" name="endereco"
                  type="text" placeholder="Endereço" required />
              </mat-form-field>
            </div>
          </div>

          <div class="pure-u-1-2">
            <div class="form-control">
              <mat-form-field>
                <input matInput [textMask]="{ mask: numMask }" [(ngModel)]="user.cd_numero_endereco_usuario"
                  formControlName="cd_numero_endereco_usuario" name="numero" type="text" placeholder="Número" required />
              </mat-form-field>
            </div>
          </div>

          <div class="pure-u-1">
            <div class="form-control">
              <mat-form-field>
                <input matInput [(ngModel)]="user.ds_complemento_endereco_usuario" formControlName="ds_complemento_endereco_usuario"
                  name="complemento" type="text" placeholder="Complemento" />
              </mat-form-field>
            </div>
          </div>

          <div *ngIf="isAdding" class="pure-u-1">
            <div class="form-control">
              <mat-form-field>
                <input matInput [(ngModel)]="user.cd_senha_usuario" formControlName="cd_senha_usuario" [type]="hide ? 'password' : 'text'"
                  name="senha" type="password" placeholder="Senha" />
                <mat-icon matSuffix (click)="hide = !hide">{{
                  hide ? "visibility" : "visibility_off"
                  }}</mat-icon>
              </mat-form-field>
            </div>
          </div>

          <div *ngIf="isAdding" class="pure-u-1">
            <div class="form-control">
              <mat-form-field>
                <input matInput formControlName="cd_senha_confirmacao_usuario" [type]="hideConfirm ? 'password' : 'text'"
                  name="confirmacaoSenha" type="password" placeholder="Confirme sua Senha" required />
                <mat-icon matSuffix (click)="hideConfirm = !hideConfirm">{{
                  hideConfirm ? "visibility" : "visibility_off"
                  }}</mat-icon>
              </mat-form-field>
            </div>
          </div>

          <div class="pure-u-1-2">
            <div class="row-center">
              <button (click)="cancelar()" mat-raised-button type="submit" color="primary" class="w-90">
                Cancelar
              </button>
            </div>
          </div>
          <div class="pure-u-1-2">
            <div class="row-center">
              <button (click)="userRegister()" [disabled]="userFormPhysical.invalid" mat-raised-button color="primary"
                class="w-90">
                Confirmar
              </button>
            </div>
          </div>
        </form>
      </div>
    </mat-card>
  </section>

  <!-- Juridica -->
  <section *ngIf="userType === 'pj'">
    <div class="pure-g">
      <div class="pure-u-1">
        <h1 *ngIf="isAdding" class="title">Cadastrar Usuário</h1>
        <h1 *ngIf="!isAdding" class="title">Editar Usuário</h1>
      </div>
    </div>

    <mat-card>
      <div class="pure-g">
        <form [formGroup]="userFormLegal">
          <div class="img-rounded-area">
            <img (click)="imgFileInput.click()" id="img" class="img-rounded" [src]="fotobase64" alt="Foto do Usuário" />
            <input hidden type="file" accept="image/*" id="imgupload" capture="camera" #imgFileInput (change)="readURL()" />
          </div>

          <div class="pure-u-1">
            <div class="form-control">
              <mat-form-field>
                <input matInput [(ngModel)]="user.nm_razao_social_usuario" formControlName="nm_razao_social_usuario"
                  type="text" name="razaoSocial" placeholder="Razão Social" required />
              </mat-form-field>
            </div>
          </div>

          <div class="pure-u-1">
            <div class="form-control">
              <mat-form-field>
                <input matInput [(ngModel)]="user.nm_email_usuario" formControlName="nm_email_usuario" type="email"
                  name="email" placeholder="Email" required />
              </mat-form-field>
            </div>
          </div>

          <div class="pure-u-1">
            <div class="form-control">
              <mat-form-field>
                <input matInput [(ngModel)]="user.cd_cnpj_usuario" formControlName="cd_cnpj_usuario" [textMask]="{ mask: cnpjMask }"
                  type="text" name="cnpj" placeholder="CNPJ" required />
              </mat-form-field>
            </div>
          </div>

          <div class="pure-u-1-2">
            <div class="form-control">
              <mat-form-field>
                <input matInput [textMask]="{ mask: celMask }" [(ngModel)]="user.cd_telefone_usuario" formControlName="cd_telefone_usuario"
                  type="text" name="telefone" placeholder="Telefone" required />
              </mat-form-field>
            </div>
          </div>

          <div class="pure-u-1-2">
            <div class="form-control">
              <mat-form-field>
                <input matInput [textMask]="{ mask: cepMask }" [(ngModel)]="user.cd_cep_usuario" formControlName="cd_cep_usuario"
                  type="text" name="cep" placeholder="CEP" required />
              </mat-form-field>
            </div>
          </div>

          <div class="pure-u-1-2">
            <div class="form-control">
              <mat-form-field>
                <input matInput [(ngModel)]="user.nm_estado_usuario" formControlName="nm_estado_usuario" id="estado"
                  [matAutocomplete]="autoStates" name="estado" type="text" placeholder="Estado" (click)="emptyInput()"
                  (blur)="blurInStates()" (keyup)="fillFiltredStates()" required />
                <mat-autocomplete #autoStates="matAutocomplete">
                  <mat-option *ngFor="let option of filtredStates" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>

          <div class="pure-u-1-2">
            <div class="form-control">
              <mat-form-field>
                <input matInput [(ngModel)]="user.nm_cidade_usuario" formControlName="nm_cidade_usuario" id="cidade"
                  name="cidade" [matAutocomplete]="autoCities" type="text" placeholder="Cidade" (click)="blurInStates()"
                  (keyup)="fillFiltredCities()" required />
                <mat-autocomplete #autoCities="matAutocomplete">
                  <mat-option *ngFor="let option of filtredCities" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>

          <div class="pure-u-1">
            <div class="form-control">
              <mat-form-field>
                <input matInput [(ngModel)]="user.nm_endereco_usuario" formControlName="nm_endereco_usuario" name="endereco"
                  type="text" placeholder="Endereço" required />
              </mat-form-field>
            </div>
          </div>

          <div class="pure-u-1-2">
            <div class="form-control">
              <mat-form-field>
                <input matInput [textMask]="{ mask: numMask }" [(ngModel)]="user.cd_numero_endereco_usuario"
                  formControlName="cd_numero_endereco_usuario" name="numero" type="text" placeholder="Número" required />
              </mat-form-field>
            </div>
          </div>

          <div class="pure-u-1-2">
            <div class="form-control">
              <mat-form-field>
                <input matInput [(ngModel)]="user.ds_complemento_endereco_usuario" formControlName="ds_complemento_endereco_usuario"
                  name="complemento" type="text" placeholder="Complemento" />
              </mat-form-field>
            </div>
          </div>

          <div *ngIf="isAdding" class="pure-u-1">
            <div class="form-control">
              <mat-form-field>
                <input matInput [(ngModel)]="user.cd_senha_usuario" formControlName="cd_senha_usuario" [type]="hide ? 'password' : 'text'"
                  name="senha" type="password" placeholder="Senha" />
                <mat-icon matSuffix (click)="hide = !hide">{{
                  hide ? "visibility" : "visibility_off"
                  }}</mat-icon>
              </mat-form-field>
            </div>
          </div>

          <div *ngIf="isAdding" class="pure-u-1">
            <div class="form-control">
              <mat-form-field>
                <input matInput formControlName="cd_senha_confirmacao_usuario" [type]="hideConfirm ? 'password' : 'text'"
                  name="confirmacaoSenha" type="password" placeholder="Confirme sua Senha" required />
                <mat-icon matSuffix (click)="hideConfirm = !hideConfirm">{{
                  hideConfirm ? "visibility" : "visibility_off"
                  }}</mat-icon>
              </mat-form-field>
            </div>
          </div>

          <div class="pure-u-1-2">
            <div class="row-center">
              <button (click)="cancelar()" mat-raised-button type="submit" color="primary" class="w-90">
                Cancelar
              </button>
            </div>
          </div>
          <div class="pure-u-1-2">
            <div class="row-center">
              <button (click)="userRegister()" [disabled]="userFormLegal.invalid" mat-raised-button color="primary"
                class="w-90">
                Confirmar
              </button>
            </div>
          </div>
        </form>
      </div>
    </mat-card>
  </section>
</div>