#meus-pets .mat-card {
  padding: 10px 5px !important;
  font-size: 14px;
  margin-bottom: 10px;
}
.meus-pets-img{
  padding: 0px 10px;
}
.meus-pets-list {
  padding: 10px 0px 0px 0px;
  margin: 0px;
}
.meus-pets-list li {
  list-style: none;
  vertical-align: middle;
}
.meus-pets-text {
  text-align: center;
  color: #755dca;
}
.meus-pets-sub-text {
  text-align: center;
  padding: 10px 5px 0px 0px;
}

.buttons-inline {
  padding: 0px 0px 0px 5px;
}
.buttons-inline li {
  display: inline-block;
  list-style: none;
  padding: 0px 0px;
}
.buttons-inline .mat-mini-fab {
  background: #ffffff;
}
.buttons-inline .mat-mini-fab .edit {
  color: #755dca;
}
.buttons-inline .mat-mini-fab .remove {
  color: #ff4d4d;
}

.img-circle {
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 2px solid #755dca;
  width: 60px;
  height: 60px;
}

