<div id="meus-pets" class="container-fluid animated fadeIn">

  <div class="col-md-12">
    <div class="row justify-content-center">

      <h1 class="title">Meus Pets</h1>

    </div>
  </div>

  <mat-card *ngFor="let pet of pets">

    <div class="col-md-12">
      <div class="row">

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>

              <mat-list>
                <mat-list-item>
                  <mat-icon mat-list-icon class="img-circle" [ngStyle]="{ 'background-image': 'url(' + pet.ds_foto_animal + ') '}"></mat-icon>
                  <h4 mat-line>{{pet.nm_animal}}</h4>
                  <p mat-line> {{pet.cd_idade_animal}} {{pet.nm_idade_animal}} </p>
                </mat-list-item>
              </mat-list>

            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-list>
            <mat-list-item>
              <i class="fas fa-tint" mat-list-icon></i>
              <h4 mat-line>Espécie</h4>
              <p mat-line>{{pet.Especie.nm_especie}}</p>
            </mat-list-item>
            <mat-list-item>
              <i class="fas fa-tint" mat-list-icon></i>
              <h4 mat-line>Raça</h4>
              <p mat-line>{{pet.Raca.nm_raca}}</p>
            </mat-list-item>
            <mat-list-item>
              <i class="fas fa-tint" mat-list-icon></i>
              <h4 mat-line>Cor</h4>
              <p mat-line>{{pet.nm_cor_animal}}</p>
            </mat-list-item>
            <mat-list-item>
              <i class="fas fa-ruler-vertical" mat-list-icon></i>
              <h4 mat-line>Tamanho</h4>
              <p mat-line>{{pet.nm_tamanho_animal}}</p>
            </mat-list-item>
            <mat-list-item>
              <i class="fas fa-venus-mars" mat-list-icon></i>
              <h4 mat-line>Sexo</h4>
              <p mat-line>{{pet.nm_sexo_animal}}</p>
            </mat-list-item>
          </mat-list>

          <ul class="meus-pets-list buttons-inline">
            <li>
              <button mat-icon-button routerLink="/edit-pet" [queryParams]="{id: pet.id}">
                <i class="fas fa-pencil-alt edit"></i>
              </button>
            </li>
            <li>
              <button mat-icon-button (click)="openDialog(pet.id)">
                <i class="fas fa-trash-alt remove"></i>
              </button>
            </li>
          </ul>

        </mat-expansion-panel>





        <!--
        <span class="nav-space"></span>

        <ul class="meus-pets-list buttons-inline ">
          <li>
            <button mat-mini-fab routerLink="/edit-pet" [queryParams]="{id: pet.id}">
              <i class="fas fa-pencil-alt edit"></i>
            </button>
          </li>
          <li>
            <button mat-mini-fab (click)="openDialog(pet.id)">
              <i class="fas fa-trash-alt remove"></i>
            </button>
          </li>
        </ul>-->
      </div>
    </div>

  </mat-card>
</div>
