#home .mat-card{
    padding: 0px !important;
}

.card-content{
    position: absolute;
    left: 50%;
    padding: 10px 10px;
    width: 50%;
}

.card-content  li{
    padding: 5px 0px;
}

.card-content ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.img-animals{
    width: 50%;
    height: 100%; 
}

.content-date{
    position: absolute;
    left: 53%;
    top: 87%;
}

.img-square {
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 50%;
    height: 150px;
  }