<div id="home" class="container-fluid animated fadeIn">
  <div class="col-md-12">
    <div class="row justify-content-center">

      <h1 class="title">Pets Cadastrados Recentemente Perto de Você</h1>

    </div>
  </div>
  <mat-card *ngFor="let pets of petsHome" routerLink="/pet-info" [queryParams] ="{id: pets.id}">
    <div class="row">
      <div class="col-md-2">
        <div class="img-square" [ngStyle]="{ 'background-image': 'url(' + pets.ds_foto_animal + ') '}"></div>
      </div>
      <div class="col-md-2 card-content">
        <ul>
          <li class="font-bold">{{pets.nm_animal}}</li>
          <li>{{pets.Raca.nm_raca}}</li>
          <li>{{pets.cd_idade_animal}} {{pets.nm_idade_animal}}</li>
          <li>{{pets.Usuario.nm_cidade_usuario}} - {{pets.Usuario.nm_estado_usuario}}</li>
          <li>{{pets.Usuario.nm_endereco_usuario}}</li>
        </ul>
      </div>
      <!-- <label class="content-date">{{pet.date}}</label> -->
      <!-- <div class="heart">
        <i class="fas fa-heart"></i>
      </div> -->
    </div>
  </mat-card>
</div>
