<div id="home" class="container-fluid animated fadeIn">
  <div class="col-md-12">
    <div class="row justify-content-center">

      <h1 class="title">Pets Cadastrados Recentemente Perto de Você</h1>

    </div>
  </div>
  <mat-card *ngFor="let pet of listOfPets" (click)="moreInfo(pet.id)">
    <div class="row">
      <div class="col-md-2">
        <img src="../../assets/images/ft-pet.jpg" alt="" class="img-animals">
      </div>
      <div class="col-md-2 card-content">
        <ul>
          <li class="font-bold">{{pet.title}}</li>
          <li>{{pet.breed}}</li>
          <li>{{pet.street}}</li>
          <li>{{pet.city}} - {{pet.state}}</li>
        </ul>
      </div>
      <label class="content-date">{{pet.date}}</label>
      <div class="heart">
        <i class="fas fa-heart"></i>
      </div>
    </div>
  </mat-card>
</div>
