<mat-toolbar class="navmenu">
  <mat-toolbar-row>
    <a mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </a>
    <span class="title">iDot</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav">
    <p>Sidenav content goes here!</p>
  </mat-sidenav>
</mat-sidenav-container>

<mat-toolbar class="subnav">
  <mat-toolbar-row>
    <a mat-button>
      <ul>
        <li>
          <mat-icon>home</mat-icon>
        </li>
        <li>
          <span class="text-center">Home</span>
        </li>
      </ul>
    </a>
    <a mat-button>
      <ul>
        <li>
          <mat-icon>pets</mat-icon>
        </li>
        <li>
          <span class="text-center">Meus Pets</span>
        </li>
      </ul>

    </a>
    <a mat-button>
      <ul>
        <li>
          <mat-icon>add</mat-icon>
        </li>
        <li>
          <span class="text-center">Adicionar</span>
        </li>
      </ul>

    </a>
    <a mat-button>
      <ul>
        <li>
          <mat-icon>star</mat-icon>
        </li>
        <li>
          <span class="text-center">Favoritos</span>
        </li>
      </ul>

    </a>
    <a mat-button>
      <ul>
        <li>
          <mat-icon>search</mat-icon>
        </li>
        <li>
          <span class="text-center">Pesquisar</span>
        </li>
      </ul>


    </a>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
