<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav class="example-sidenav">
        <ul id="sidenav-menu">
          <li> <a href="" (click)="logoff('login')"><i class="fas fa-sign-out-alt icon-menu"></i> Logoff</a></li>
          <li *ngIf="mostrarMenu"> <a routerLink="/edit-usuario" [queryParams]="{id: mostrarId}" (click)="sidenav.toggle()"><i class="fas fa-pencil-alt icon-menu"></i> Editar Perfil</a></li>
          <!-- <li> <i class="fas fa-trash icon-menu"></i> <a href=""> Excluir Conta</a></li> -->
        </ul>
        </mat-sidenav>
      <mat-sidenav-content>
<mat-toolbar *ngIf="mostrarMenu" class="navmenu" color="primary">
  <mat-toolbar-row>
    <a mat-icon-button (click)="sidenav.toggle()">
      <mat-icon><i class="fas fa-bars"></i></mat-icon>
    </a>

    <span class="nav-space"></span>

    <img class="nav-logo" src="../assets/images/idot-logo-branca36.png" alt="idot logo">

  </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="mostrarLoading" class="loading-area">
  <mat-progress-spinner class="spinner" strokeWidth="3" diameter="30" color="primary" mode="indeterminate"></mat-progress-spinner>
</div>

<button *ngIf="mostrarButton" class="btn-fast-add" mat-mini-fab color="primary" routerLink="/add-fast-pet">
  <mat-icon aria-label="Adicionar Pet Rapidamente">add</mat-icon>
</button>


<mat-toolbar *ngIf="mostrarMenu" class="subnav">
  <mat-toolbar-row>
    <a mat-button routerLink="/home">
      <ul>
        <li>
          <mat-icon><i class="fas fa-home"></i></mat-icon>
        </li>
        <li>
          <span class="text-center">Home</span>
        </li>
      </ul>
    </a>
    <a mat-button routerLink="/meus-pets">
      <ul>
        <li>
          <mat-icon><i class="fas fa-paw"></i></mat-icon>
        </li>
        <li>
          <span class="text-center">Meus Pets</span>
        </li>
      </ul>

    </a>
    <a mat-button routerLink="/add-pet">
      <ul>
        <li>
          <mat-icon><i class="fas fa-plus"></i></mat-icon>
        </li>
        <li>
          <span class="text-center">Adicionar</span>
        </li>
      </ul>

    </a>
    <a mat-button routerLink="/favoritos">
      <ul>
        <li>
          <mat-icon><i class="fas fa-heart"></i></mat-icon>
        </li>
        <li>
          <span class="text-center">Favoritos</span>
        </li>
      </ul>

    </a>
    <a mat-button routerLink="/pesquisar">
      <ul>
        <li>
          <mat-icon><i class="fas fa-search"></i></mat-icon>
        </li>
        <li>
          <span class="text-center">Pesquisar</span>
        </li>
      </ul>
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>

