<div>
  <div class="col-md-12">
    <div class="row justify-content-center">

      <h3 class="title">Deseja realmente deletar?</h3>

    </div>
  </div>
  <div class="col-12">
    <div class="button-row row justify-content-center">
      <button (click)="cancel()" mat-raised-button type="submit" color="primary" class="w-50">Cancelar</button>
    </div>
    <div class="button-row row justify-content-center">
      <button mat-raised-button color="primary" class="w-50" (click)="deletePet()">Deletar</button>
    </div>
  </div>
</div>
