<div class="container-fluid animated fadeIn">
  <div class="col-12">
    <div class="row justify-content-center">

      <h1 class="title">Cadastrar Pet</h1>

    </div>
  </div>
  <mat-card>

    <form id="add-pet" name="add-pet">

      <div class="row pet-form">
        <div class="col-4">
          <button mat-fab color="primary" (click)='imgFileInput.click()'>
            <mat-icon aria-label="Tirar Foto">add_a_photo</mat-icon>
            <input hidden type="file" accept="image/*" id="imgupload" capture="camera" #imgFileInput />
          </button>
        </div>
        <div class="col-8">
          <mat-form-field>
            <input [(ngModel)]="addFastPet.nm_animal" name="nome" matInput placeholder="Nome" required>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group">

        <div class="row pet-sub-form">
          <div class="col-4">
            <button (click)="getAdress()" mat-fab color="primary" routerLink="/add-fast-pet">
              <mat-icon aria-label="Adicionar Pet Rapidamente">location_on</mat-icon>
            </button>
          </div>
          <div class="col-8">
            <mat-form-field>
              <input [(ngModel)]="addFastPet.cd_cep_animal" name="cd_cep_animal" matInput placeholder="CEP" required>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-4"></div>
          <div class="col-8">
            <mat-form-field>
              <input [(ngModel)]="addFastPet.nm_estado_animal" [matAutocomplete]="autoStates" name="nm_estado_animal" matInput placeholder="Estado"
                (click)="emptyInput()" (blur)="blurInStates()" (keyup)="fillFiltredStates()" required>
              <mat-autocomplete #autoStates="matAutocomplete">
                <mat-option *ngFor="let option of filtredStates" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-4"></div>
          <div class="col-8">
            <mat-form-field>
              <input [(ngModel)]="addFastPet.nm_cidade_animal" name="nm_cidade_animal" [matAutocomplete]="autoCities" matInput placeholder="Cidade"
                (click)="blurInStates()" (keyup)="fillFiltredCities()" required>
              <mat-autocomplete #autoCities="matAutocomplete">
                <mat-option *ngFor="let option of filtredCities" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-4"></div>
          <div class="col-8">
            <mat-form-field>
              <input [(ngModel)]="addFastPet.nm_endereco_animal" name="nm_endereco_animal" matInput placeholder="Endereço" required>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-4"></div>
          <div class="col-8">
            <mat-form-field>
              <input [(ngModel)]="addFastPet.cd_numero_endereco_animal" name="cd_numero_endereco_animal" matInput placeholder="Número"
                required>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-4"></div>
          <div class="col-8">
            <mat-form-field>
              <mat-select [(ngModel)]="addFastPet.cd_especie_fk" name="especie" placeholder="Espécie" (change)="fillRacas()" required>
                <mat-option *ngFor="let especies of especieArray" [value]="especies.id">
                  {{ especies.nm_especie }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-4"></div>
          <div class="col-8" *ngIf="!!addFastPet.cd_especie_fk">
            <mat-form-field>
              <mat-select [(ngModel)]="addFastPet.cd_raca_fk" name="raca" placeholder="Raça" required>
                <mat-option *ngFor="let racas of racaArray" [value]="racas.id">
                  {{ racas.nm_raca }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

      </div>


      <div class="col-12">
        <div class="button-submit-row row justify-content-center">
          <button mat-raised-button type="submit" color="primary" form="add-pet" class="w-50" (click)="registerPet()">Confirmar</button>
        </div>
      </div>

    </form>

  </mat-card>
</div>