#home .mat-card{
    height: 600px;
}

.mat-card{
    padding: 0px !important;
}

.card-content{
    padding: 20px 10px;
    width: 100%;
}

ul .row{
    margin-bottom: 20px;
}

.card-content li{
    padding: 2px 0px;
}

.card-content ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.img-animals{
    width: 100%;
    height: 200px; 
}

.content-date{
    position: absolute;
    left: 53%;
    top: 87%;
}