<div id="home" class="container-fluid animated fadeIn">
  <div class="col-md-12">
    <div class="row justify-content-center">

      <h1 class="title">Mais Informações do Pet - {{pet.nm_animal}} </h1>


    </div>
  </div>
  <mat-card>

    <div class="row">
      <div class="col-md-12">
        <img src="{{pet.ds_foto_animal}}" alt="" class="img-animals">
      </div>
    </div>

    <div class="row">
      <div class="col-1 offset-9 btn-favorite-area">
        <button mat-mini-fab color="primary" (click)='favoritarPet(pet.id)'>
          <mat-icon aria-label="Favoritar">favorite</mat-icon>
        </button>
      </div>
    </div>

    <div class="col-12 card-content">
      <ul>
        <div class="row">
          <div class="col-6">
            <li class="font-bold">Nome</li>
            <li> {{pet.nm_animal}} </li>
          </div>
          <div class="col-6">
            <li class="font-bold">Idade</li>
            <li> {{pet.cd_idade_animal}} ano(s) </li>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <li class="font-bold space-top">Espécie</li>
            <li> {{pet.species}} </li>
          </div>
          <div class="col-6">
            <li class="font-bold space-top">Raça</li>
            <li> {{pet.breed}} </li>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <li class="font-bold space-top">Sexo</li>
            <li *ngIf="pet.nm_sexo_animal == 'M'"> Macho </li>
            <li *ngIf="pet.nm_sexo_animal == 'F'"> Femêa </li>
          </div>
          <div class="col-6">
            <li class="font-bold space-top">Cor</li>
            <li> {{pet.nm_cor_animal}} </li>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <li class="font-bold space-top">Tamanho</li>
            <li> {{pet.nm_tamanho_animal}} </li>
          </div>
          <div class="col-6">
            <span *ngIf='deficiencia_view'>
              <li class="font-bold space-top">Deficiência</li>
              <li> {{pet.ds_deficiencia_animal}} </li>
            </span>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <li class="font-bold space-top">Endereço</li>
            <li> {{pet.address1}} </li>
            <li> {{pet.address2}}</li>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <li class="font-bold space-top">Cadastrado por:</li>
            <li>
              <a href="#">ONG MyPet</a>
            </li>
          </div>
        </div>
      </ul>
    </div>
  </mat-card>
</div>
