.mat-card{
    padding: 0px !important;
}

.card-content{
    padding: 10px 10px;
    width: 100%;
}

.btn-favorite-area{
  margin-top: -25px;
}

ul .row{
    margin-bottom: 20px;
}

.card-content li{
    padding: 2px 0px;
}

.card-content ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.img-animals{
    width: 100%;
    height: 200px;
}
