<div class="container-fluid animated fadeIn">
  <div class="col-12">
    <div class="row justify-content-center">

      <h1 class="title">Cadastrar Pet</h1>

    </div>
  </div>
  <mat-card>

    <form id="add-pet" name="add-pet">

      <div class="row pet-form">
        <div class="col-4">
          <button mat-fab color="primary" (click)='imgFileInput.click()'>
            <mat-icon aria-label="Tirar Foto">add_a_photo</mat-icon>
            <input hidden type="file" accept="image/*" id="imgupload" capture="camera" #imgFileInput />
          </button>
        </div>
        <div class="col-8">
          <mat-form-field>
            <input [(ngModel)]="pet.nome" name="nome" matInput placeholder="Nome" required>
            <mat-error *ngIf="nome.invalid">{{getNomeErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row pet-sub-form">
        <div class="col-4">
          <h6>Informações</h6>
        </div>
        <div class="col-4">
          <mat-form-field>
            <input [(ngModel)]="pet.cd_idade_animal" name="idade" matInput placeholder="Idade" max-length="2" required>
            <mat-error *ngIf="cor.invalid">{{getIdadeErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field>
            <mat-select [(ngModel)]="pet.nm_idade_animal" name="text_idade" placeholder="Período" required>
              <mat-option *ngFor="let idades of idadeArray" [value]="idades.value">
                {{ idades.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="text_idade.invalid">{{getTextIdadeErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
          <mat-form-field>
            <mat-select [(ngModel)]="pet.sexo" name="sexo" placeholder="Sexo" required>
              <mat-option *ngFor="let sexos of sexoArray" [value]="sexos.value">
                {{ sexos.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="sexo.invalid">{{getSexoErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
          <mat-form-field>
            <mat-select [(ngModel)]="pet.tamanho" name="tamanho" placeholder="Tamanho" required>
              <mat-option *ngFor="let tamanhos of tamanhoArray" [value]="tamanhos.value">
                {{ tamanhos.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="tamanho.invalid">{{getTamanhoErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
          <mat-form-field>
            <input [(ngModel)]="pet.cor" name="cor" matInput placeholder="Cor" required>
            <mat-error *ngIf="cor.invalid">{{getCorErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
          <mat-form-field>
            <mat-select [(ngModel)]="pet.id_especie" name="especie" placeholder="Espécie" (change)="fillRacas()" required>
              <mat-option *ngFor="let especies of especieArray" [value]="especies.id">
                {{ especies.nm_especie }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="especie.invalid">{{getEspecieErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-4"></div>
        <div class="col-8" *ngIf="!!pet.id_especie">
          <mat-form-field>
            <mat-select [(ngModel)]="pet.id_raca" name="raca" placeholder="Raça" required>
              <mat-option *ngFor="let racas of racaArray" [value]="racas.id">
                {{ racas.nm_raca }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="raca.invalid">{{getRacaErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
          <div class="checkbox-align">
            <mat-checkbox [(ngModel)]="pet.deficiencia" name="deficiencia" color="primary">Há alguma deficiência?</mat-checkbox>
          </div>
        </div>
      </div>

      <div class="row pet-form">
        <div class="col-4"></div>
        <div class="col-8" *ngIf="!!pet.deficiencia">
          <mat-form-field>
            <input [(ngModel)]="pet.ds_deficiencia" name="ds_deficiencia" matInput placeholder="Qual?">
          </mat-form-field>
        </div>
      </div>

      <div class="col-12">
        <div class="button-submit-row row justify-content-center">
          <button mat-raised-button type="submit" color="primary" form="add-pet" class="w-50" (click)="registerPet()">Confirmar</button>
        </div>
      </div>

    </form>

  </mat-card>
</div>
