<div class="container-fluid animated fadeIn">
  <div class="col-12">
    <div class="row justify-content-center">

      <h1 class="title">Cadastrar Pet</h1>

    </div>
  </div>
  <mat-card>

    <form>

      <div class="row pet-form">
        <div class="col-4">
          <button mat-fab color="primary" (click)='imgFileInput.click()'>
            <mat-icon aria-label="Tirar Foto">photo_camera</mat-icon>
            <input hidden type="file" accept="image/*" id="imgupload" capture="camera" #imgFileInput />
          </button>
        </div>
        <div class="col-8">
          <mat-form-field>
            <input [(ngModel)]="pet.nome" name="nome" matInput placeholder="Nome" required>
          </mat-form-field>
        </div>
      </div>

      <div class="row pet-sub-form">
        <div class="col-4"><h6>Informações</h6></div>
        <div class="col-8">
          <mat-form-field>
            <input [(ngModel)]="pet.idade" name="idade" matInput placeholder="Idade" required>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
          <mat-form-field>
            <mat-select [(ngModel)]="pet.sexo" name="sexo" placeholder="Sexo" required>
              <mat-option *ngFor="let sexos of sexo" [value]="sexos.value">
                {{ sexos.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
          <mat-form-field>
            <mat-select [(ngModel)]="pet.tamanho" name="tamanho" placeholder="Tamanho" required>
              <mat-option *ngFor="let tamanhos of tamanho" [value]="tamanhos.value">
                {{ tamanhos.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
          <mat-form-field>
            <input [(ngModel)]="pet.cor" name="cor" matInput placeholder="Cor" required>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
          <mat-form-field>
            <mat-select [(ngModel)]="pet.id_especie" name="especie" placeholder="Espécie" required>
              <mat-option *ngFor="let especies of especie" [value]="especies.id">
                {{ especies.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
          <mat-form-field>
            <mat-select [(ngModel)]="pet.id_raca" name="raca" placeholder="Raça" required>
              <mat-option *ngFor="let racas of raca" [value]="racas.id">
                {{ racas.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
          <div class="checkbox-align">
            <mat-checkbox [(ngModel)]="pet.deficiencia" name="deficiencia" color="primary">Há alguma deficiência?</mat-checkbox>
          </div>
        </div>
      </div>

      <div class="row pet-form">
        <div class="col-4"></div>
        <div class="col-8" *ngIf="!!pet.deficiencia">
            <mat-form-field>
              <input [(ngModel)]="pet.ds_deficiencia" name="ds_deficiencia" matInput placeholder="Qual?">
            </mat-form-field>
          </div>
      </div>

      <div class="col-12">
        <div class="button-submit-row row justify-content-center">
          <button mat-raised-button type="submit" color="primary" class="w-50" (click)="registerPet()">Confirmar</button>
        </div>
      </div>

    </form>

  </mat-card>
</div>
