<div class="container-fluid animated fadeIn">

    <div class="col-md-12">
      <div class="row justify-content-center">

        <h1 class="title">Cadastrar Usuário Pessoa Jurídica</h1>

    </div>
    </div>

    <mat-card>
        <form>

          <div class="row justify-content-center">
            <div class="col-12">
              <mat-form-field>
                  <input name="razaoSocial" type="text" matInput placeholder="Razão Social" required>
              </mat-form-field>
            </div>

            <div class="col-12">
              <mat-form-field>
                <input name="email" type="email" matInput placeholder="Email" required>
              </mat-form-field>
            </div>

            <div class="col-6">
              <mat-form-field>
                <input name="cpf" type="text" matInput placeholder="CNPJ" required>
              </mat-form-field>
            </div>

            <div class="col-6">
              <mat-form-field>
                <input name="celular" type="text" matInput placeholder="Celular" required>
              </mat-form-field>
            </div>

            <div class="col-6">
              <mat-form-field>
                <input name="cep" type="text" matInput placeholder="CEP" required>
              </mat-form-field>
            </div>

            <div class="col-6">
              <mat-form-field>
                <input name="estado" type="text" matInput placeholder="Estado" required>
              </mat-form-field>
            </div>

            <div class="col-12">
              <mat-form-field>
                <input name="cidade" type="text" matInput placeholder="Cidade" required>
              </mat-form-field>
            </div>

            <div class="col-12">
              <mat-form-field>
                <input name="endereco" type="text" matInput placeholder="Endereço" required>
              </mat-form-field>
            </div>

            <div class="col-4">
              <mat-form-field>
                <input name="numero" type="text" matInput placeholder="Número" required>
              </mat-form-field>
            </div>

            <div class="col-8">
              <mat-form-field>
                <input name="complemento" type="text" matInput placeholder="Complemento" required>
              </mat-form-field>
            </div>

            <div class="col-12">
              <mat-form-field>
                <input name="senha" type="password" matInput placeholder="Senha" required>
              </mat-form-field>
            </div>
          </div>

          <div class="button-row row justify-content-center">
            <div class="col-6">
              <button mat-raised-button type="submit" color="primary" class="w-100">Confirmar</button>
            </div>
            <div class="col-6">
              <button mat-raised-button color="primary" class="w-100">Cancelar</button>
            </div>
          </div>

        </form>
      </mat-card>
</div>
